<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <form class="form" method="POST" action="/new">
            <h1>New Message</h1>
            <div class="table">
                <div>
                    <label for="user">User</label>
                    <input type="text" id="user" name="messageUsername" required>
                </div>
                <div>
                    <label for="message">Message</label>
                    <textarea id="message" name="messageText" required></textarea>
                </div>
            </div>
            <button type="Submit">Submit</button>
            <button class="goBack" onclick="location.href='../'">Go Back</button>
        </form>
    </body>
</html>