<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <form class="form" method="POST" action="/new">
            <h1>New Message</h1>
            <div>
                <label for="user">User</label>
                <input type="text" id="user" name="messageUser" required>
            </div>
            <div>
                <label for="message">Message</label>
                <input type="text" id="message" name="messageText" required>
            </div>
            <button type="Submit">Submit</button>
        </form>
        <a href="../">Go back</a>
    </body>
</html>