<html>
    <head>
        <link rel="stylesheet" href="../style.css">
    </head>
    <body>
        <div class="messageDetails">
            <p>Message user: <span class="detail"><%= message.user %></span></p>
            <p>Message text: <span class="detail"><%= message.text %></span></p>
            <p>Date Added: <span class="detail"><%= message.added %></span></p>
        </div>
        <a href="../">Go back</a>
    </body>
</html>